<footer id="main-footer">
    <div class="footer-container">
        <div class="footer-info">
            <h3>Liste BDE TArmac</h3>
            <p>ENSTA Paris</p>
        </div>

        <div class="footer-contact">
            <h3>Contact</h3>
            <p>828 Bd des Maréchaux, 91120 Palaiseau</p>
            <div class="instagram-row">
                <span>Instagram :</span>
                <a href="https://www.instagram.com/liste_bde_tarmac/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 Liste BDE TArmac Ensta Paris - Tous droits réservés</p>
    </div>
</footer>