#main-header{
    background-color: #154360;
    color: white;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
}

.no-scroll {
    overflow: hidden;
}

.header-hidden {
    top: -90px !important; 
}

.header-left{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.7rem;
    font-family: 'Black Ops One';
    letter-spacing: 0.5px;
}

.header-logo{
    height: 70px;
    width: auto;
    display: block;
}

.header-name {
    margin-left: 20px;
}

#menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}

#main-nav {
    position: absolute;
    top: 70px; 
    right: 0;
    width: 75%;
    background-color: #1A5276; 
    z-index: 1001;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.4);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-bottom-left-radius: 2%;
}

#main-nav ul li a.active-page {
    border-left: 5px solid #B8E6FE; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    background-color: rgba(0, 0, 0, 0.1); 
}

#main-nav.active {
    max-height: 500px;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

#main-nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s;
}

#main-nav ul li a:hover, #main-nav ul li a:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.header-right {
    display: flex;
    align-items: center;
}

.btn-connexion {
    font-size: 1.2rem;
    margin-right: 10px;
}

#menu-toggle, .btn-connexion {
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
    width: 40px; 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* #menu-toggle:active, .btn-connexion:active {
    background-color: rgba(0, 0, 0, 0.15);
} */


.logo {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.btn-connexion, .btn-connexion:visited, .btn-connexion:link {
    color: white;
}



.page-title {
    text-align: center;
    margin-bottom: 1px;
    font-size: 2rem;
}


.pole-title {
    color: #024A70;
    font-size: 2rem;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin: 40px 0 30px;
    text-align: center;
    width: 100%;
}

.member-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
    justify-content: center; 
}

.member-card {    
    width: 280px; 
    height: 380px; 
    overflow: visible;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    perspective: 2000px;
    perspective-origin: center;
    border-radius: 8px;
    text-align: center;
}

.member-card.hover-active .card {
    transform: rotateY(180deg);
}

.member-card.active .card {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);
    /* transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1); */
    /* transition: transform 0.5s ease-in-out; */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}


.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    pointer-events: auto;
}

.card-front {
    background-color: #fff;
}

.card-back {
    background-color: #024A70;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: rotateY(180deg);
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: rgba(255,255,255,0.3) transparent;
}

.card-back::-webkit-scrollbar {
    width: 6px;
}

.card-back::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.description-back {
    text-align: justify;
    hyphens: auto;
    line-height: 1.4;
    margin-top: 15px;
}

.card-front img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.member-info-footer {
    padding: 10px;
    background-color: #f7f7f7;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.member-info-footer h4 {
    margin: 0;
    color: #024A70;
    font-size: 1.2rem;
}
.member-info-footer p {
    margin: 0;
    font-size: 0.95rem;
}

/* Version mobile */
@media (max-width: 768px) {
   #main-nav {
        position: absolute;
        top: 70px; 
        right: 0;
        width: 75%;
        background-color: #1A5276; 
        z-index: 1001;
        box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.4);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        border-bottom-left-radius: 2%;
    }
    
    #menu-toggle {
        display: block;
    }

}

/* Version tablette + ordi */
@media (min-width: 769px) {
    #menu-toggle {
        display: none;
    }

    #main-nav {
        position: static;
        background-color: transparent;
        box-shadow: none;
        max-height: none;
        overflow: visible;
        border-radius: 0;
        margin-right: 20px;
    }

    #main-nav ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    #main-nav ul li a {
        border-bottom: none;
        padding: 10px 15px;
        font-weight: 500;
        transition: color 0.3s;
    }


    @media (hover: hover) {
        #main-nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        }

        #main-nav ul li a.active-page:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 5px;
        }
    }

    #main-nav ul li a.active-page {
        border-left: none;
        border-bottom: 2px solid #B8E6FE;
        background-color: transparent;
    }
}


@media (min-width: 769px) and (max-width: 1200px) {
    .header-left { margin-left: 5%; }
    .header-right { margin-right: 5%; }
}

@media (min-width: 1201px) {
    .header-left { margin-left: 20%; }
    .header-right { margin-right: 20%; }
}



/* Footer */

#main-footer {
    background-color: #1A5276;
    color: #ffffff;
    padding: 40px 0 20px 0;
    margin-top: 50px;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    
    max-width: 800px; 
    margin: 0 auto;
    padding: 0 20px;
}

.footer-info, .footer-contact {
    width: 100%;
}

@media (min-width: 769px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        align-items: flex-start;
    }

    .footer-info, .footer-contact {
        width: auto;
    }
}


.footer-info h3 {
    color: #fff;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.footer-contact h3 {
    color: #fff;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.instagram-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .instagram-row {
        justify-content: center;
    }
}

.instagram-row i {
    font-size: 1.5rem;
    color: #ffffff;
    transition: color 0.3s;
}

.instagram-row i:hover {
    color: #B8E6FE;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9rem;
    opacity: 0.7;
}